ARCH?=ARM
CORTEX_M4?=1
TARGET?=va416x0

# ECDSA P384 and SHA384
SIGN?=ECC384
HASH?=SHA384
# need image header size of 1024 for proper vector table relocation 
# 196 Vorago + 16 ARM = 212, must align on a 256-word (1024 bytes)
IMAGE_HEADER_SIZE=1024

WOLFBOOT_VERSION?=1
ARMORED?=0
DEBUG?=0
DEBUG_SYMBOLS?=0
DEBUG_UART?=0
VTOR?=1
EXT_FLASH?=1
SPI_FLASH?=0
NO_XIP?=1
NVM_FLASH_WRITEONCE?=0
UART_FLASH?=0
V?=0
NO_MPU?=1
RAM_CODE?=0
SPMATH?=1
DUALBANK_SWAP?=0
PKA?=0
ENCRYPT=0
WOLFTPM?=0
OPTIMIZATION_LEVEL=s

# Optionally allow downgrade to older valid version in update partition
ALLOW_DOWNGRADE?=0

# Use assembly version of ECDSA and SHA
NO_ASM?=0
NO_ARM_ASM?=0

# Optional: Use smaller SHA512
#CFLAGS_EXTRA+=-DUSE_SLOW_SHA512

# Optimized: 36KB wolfboot, 108KB partitions, 2KB swap
WOLFBOOT_SECTOR_SIZE?=0x800
WOLFBOOT_PARTITION_SIZE?=0x1B000
WOLFBOOT_PARTITION_BOOT_ADDRESS?=0x9000
WOLFBOOT_PARTITION_UPDATE_ADDRESS?=0x24000
WOLFBOOT_PARTITION_SWAP_ADDRESS?=0x3F000

# Vorago SDK common drivers directory
VORAGO_SDK_DIR?=/c/Users/jgeorge/KAVX/IRI_Bootloader/Caracal/VA416xx_SDK/

# Use Vorago FRAM driver
USE_HAL_SPI_FRAM=1

# Restore clock to heart-beat oscillator (set to 0 to leave clock at 100MHz)
WOLFBOOT_RESTORE_CLOCK?=0
